{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>TBX Validation API</h1>
            <p>Welcome to the API! This is a simple API which provides the links to schemas and definitions for a dialect or specific module. 
                Note, tokens are case sensitive according to the canonical names of the dialects or modules.  Therefore "tbx-min" will not be recognized, but "TBX-Min" will.</p>
            <h2>Available Routes:</h2>
            <ul>
                <li><p>/dialects/{dialect_name}&nbsp;&nbsp;[GET]<p>
                    <ul>
                        <li>
                            <p>This will return information for the dialect {dialect_name} with links to its definition and schemas (JSON format).
                               {dialect_name} is case sensitive and expects the canonical name of the dialect
                               as it is shown on TBXinfo.  Therefore, "TBX-Min" will be accepted, but "tbx-min"
                               will not.</p>
                        </li>
                    </ul>
                </li>
                <li><p><a href="dialects">/dialects</a>&nbsp;&nbsp;[GET]<p>
                    <ul>
                        <li>
                            <p>This gives the list of dialects with with links to their definition and schemas (JSON format).</p>
                        </li>
                    </ul>
                </li>
                <li><p>/modules/{module_name}&nbsp;&nbsp;[GET]<p>
                    <ul>
                        <li>
                            <p>This will return information for the module {module_name} with links to its definition and schemas (JSON format).
                               {module_name} is case sensitive and expects the canonical name of the dialect
                               as it is shown on TBXinfo.  Therefore, "Min" will be accepted, but "min"
                               will not.</p>
                        </li>
                    </ul>
                </li>
                <li><p><a href="modules">/modules</a>&nbsp;&nbsp;[GET]</p>
                    <ul>
                        <li>
                            <p>This gives the list of available modules with links to their definition and schemas (JSON format).</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 900px; width: 95%; }
    #container { padding: 2em; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
